body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url('img/newspaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:initial;
  }

  a{
    color:darkred;font-weight: bold; font-family: Copperplate, Papyrus, fantasy;
  }

  .topnav-right{
    color:darkred;   
    float: right;
  }

.topnav-right a:hover {
  color: white;
}
#butt{
  color:darkred;   
}
.align2gther{
   float:right;
   margin-top:90px;
   margin-right:35px; 
}
button{
  color:darkred;
  border-radius: 6px;
  font-family: Copperplate, Papyrus, fantasy;
}

